*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img{
  width: 250px;
}
.Header__middle{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.middle{
  display: flex;
  
 
}
ul{
  display: flex;
 text-decoration: none;
 display: flex;
  gap: 40px;
 
 
}
li a{ 
  text-decoration: none;
  color: white;
  
}
i{
  color: aliceblue;
}